@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Light mode colors */
  --color-bg-primary: #F8FAFC;
  --color-card: #FFFFFF;
  --color-text: #0F172A;
  --color-text-secondary: #475569;
  --color-accent-1: #2563EB;
  --color-accent-2: #3B82F6;
  --color-hover: #1E40AF;
  --color-border: #E2E8F0;
  --color-muted: #F1F5F9;
  --color-success: #10B981;
  --color-error: #EF4444;
  /* Dark mode colors */
  --color-bg-primary-dark: #0B1120;
  --color-card-dark: #1E293B;
  --color-text-dark: #F8FAFC;
  --color-text-secondary-dark: #94A3B8;
  --color-accent-1-dark: #60A5FA;
  --color-accent-2-dark: #3B82F6;
  --color-hover-dark: #93C5FD;
  --color-border-dark: #334155;
  --color-muted-dark: #1E293B;
  --color-success-dark: #22C55E;
  --color-error-dark: #F87171;
}
