@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --color-primary: #08CB00;
    --color-primary-dark:#000000;
    --color-hover:#9EFF90;
}